/* Add CSS Styling */

.uniq_1{
    background-color: #000000;
    color: white;
}

.uniq_2{
    background-color: yellow;
}

.uniq_1,.uniq_2{
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', sans-serif;
}