/* Add CSS Styling */

div p{
    background-color: yellow;
    color: red;
    font-size: 20px;
    text-align: center;
}

/* either above or the following can be used
.container .text{
    background-color: yellow;
    color: red;
    font-size: 20px;
    text-align: center;
}*/
